## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,71.2906,-156.7887,35.62,93,100,9.22,mist
1,1,Albany,US,42.6001,-73.9662,73.45,76,40,3.09,scattered clouds
2,2,Sawakin,SD,19.1059,37.3321,92.89,53,14,3.22,few clouds
3,3,Rikitea,PF,-23.1203,-134.9692,72.91,74,44,8.48,scattered clouds
4,4,Khatanga,RU,71.9667,102.5000,45.32,58,100,7.56,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input(f"What is the minimum temperature you would like for your trip?"))
max_temp = float(input(f"What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?60
What is the maximum temperature you would like for your trip?80

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                    (city_data_df["Max Temp"] >= min_temp)]
preferred_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Albany,US,42.6001,-73.9662,73.45,76,40,3.09,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,72.91,74,44,8.48,scattered clouds
5,5,Carnarvon,AU,-24.8667,113.6333,70.90,29,1,17.00,clear sky
6,6,Pacific Grove,US,36.6177,-121.9166,72.21,89,100,10.36,overcast clouds
7,7,Ramgarh,IN,23.6333,85.5167,77.05,96,100,16.84,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Lata,PT,40.1629,-8.3327,65.71,43,0,3.38,clear sky
688,688,Lock Haven,US,41.1370,-77.4469,77.70,77,99,2.26,overcast clouds
690,690,Khandbari,NP,27.3747,87.2039,76.10,86,77,0.29,broken clouds
691,691,Takoradi,GH,4.8845,-1.7554,74.12,90,100,10.16,overcast clouds
692,692,Hyeres,FR,43.1167,6.1167,74.41,53,0,8.05,clear sky

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# N/A

In [35]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Albany,US,73.45,scattered clouds,42.6001,-73.9662,
3,Rikitea,PF,72.91,scattered clouds,-23.1203,-134.9692,
5,Carnarvon,AU,70.90,clear sky,-24.8667,113.6333,
6,Pacific Grove,US,72.21,overcast clouds,36.6177,-121.9166,
7,Ramgarh,IN,77.05,overcast clouds,23.6333,85.5167,
10,Atikokan,CA,66.27,overcast clouds,48.7555,-91.6216,
15,Porosozero,RU,60.49,scattered clouds,62.7191,32.7270,
18,Nikolskoye,RU,65.80,clear sky,59.7035,30.7861,
19,Amos,CA,63.18,broken clouds,48.5669,-78.1162,
20,Yellowknife,CA,71.56,overcast clouds,62.4560,-114.3525,

In [37]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [43]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,72.91,scattered clouds,-23.1203,-134.9692,People ThankYou
5,Carnarvon,AU,70.90,clear sky,-24.8667,113.6333,Hospitality Carnarvon
6,Pacific Grove,US,72.21,overcast clouds,36.6177,-121.9166,Lovers Point Inn
7,Ramgarh,IN,77.05,overcast clouds,23.6333,85.5167,HOTEL TREAT RESIDENCY
10,Atikokan,CA,66.27,overcast clouds,48.7555,-91.6216,Quetico Inn (formerly Radisson)
...,...,...,...,...,...,...,...
687,Lata,PT,65.71,clear sky,40.1629,-8.3327,Casa Maquia
688,Lock Haven,US,77.70,overcast clouds,41.1370,-77.4469,Fairfield Inn & Suites by Marriott Lock Haven
690,Khandbari,NP,76.10,broken clouds,27.3747,87.2039,Sainik Hotel And Lodge
691,Takoradi,GH,74.12,overcast clouds,4.8845,-1.7554,Raybow International Hotel
692,Hyeres,FR,74.41,clear sky,43.1167,6.1167,ibis budget Hyères Centre-Ville

In [44]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [46]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))